
<mat-nav-list>
    <!-- <div class="profile-card">
        <div class="header">
            <h2>Name</h2>
            <h4>Email</h4>
        </div>
        <img src="https://img.freepik.com/free-vector/businessman-profile-cartoon_18591-58479.jpg" alt=""/>
    </div> -->

    <mat-divider></mat-divider>
    <h2 matSubheader>Dashboard</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="">Home</a>
    <div *ngIf="showVibrationMenu">
        <a mat-list-item routerLinkActive="list-item-active" >Vibrations</a>
        <a mat-list-item routerLinkActive="list-item-active" >Ultrasound</a>
        <a mat-list-item routerLinkActive="list-item-active" >Temperature</a>
    </div>
    <mat-divider></mat-divider>
    
    <!-- <h2 matSubheader>Other Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>import_contacts</mat-icon>
        Contacts    
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        <mat-icon>users</mat-icon>
        Users    
    </a>
    
    
    <mat-divider></mat-divider> -->
    
    
</mat-nav-list>