ul li{
    list-style: none;
}
img{
    max-width: 200px;
    max-height: 30px;
}
.mat-toolbar.mat-primary{
    background-color: #fff109;
    color: #000;
    max-height: 50px;
    min-height: 50px;
}
