<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
        <!-- <button *ngIf=showNav mat-icon-button (click)="toggleSidebar()">
            <mat-icon>menu</mat-icon>
        </button> -->
        <a href="/">
            <img class="logo" src="/assets/images/presageLogoSubmit-Wbackground.png">
        </a>
        <div fxFlex fxLayoutAlign="flex-end">
            <ul fxLayout="row">
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            Sign Out
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
        <!-- 
        <span>Third Line</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
     -->
    </mat-toolbar-row>
</mat-toolbar>