section {
  display: table;
}

table {
  width: 100%;
  th:not(first-child) {
    text-align: center;
  }
  td:not(first-child) {
    text-align: center;
  }
  th.rating-column {
    max-width: 100px;
  }
}

.headerSection {
  background: #fff;
  padding-left: 30px;
  border: 1px solid #eee;
  width: 100%;
}
.example-label {
  display: table-cell;
  margin-left: 8px;
  min-width: 350px;
  line-height: 40px;
}

.example-button-row {
  display: table-cell;
  width: 100%;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.setFocus {
  &:hover,
  &:active,
  &:focus {
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
  }
}

.table-container {
  margin-top: 10px;
  max-height: 200px;
  overflow: auto;
}

.table-cell {
  &:hover,
  &:active {
    // background-color: #fff109;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
  }
}

.test {
  background-color: yellow;
}
