<div style="display: flex;">
  <section class="headerSection" fxFlex="40">
    <div class="example-label">Plant Name</div>
    <div class="example-button-row">
      {{apiData.plant_name}}
    </div>
  </section>
  <section class="headerSection" fxFlex="60">
    <div class="example-label">Area Score</div>
    <div class="example-button-row">
    </div>
  </section>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="stats-cards">
  <mat-card fxFlex="100" style="padding : 10px 0px 0px 0px">

    <mat-card fxFlex="40" class="setFocus">
      <div fxFlex="40">
        <app-widget-guage [score]="plantScore"></app-widget-guage>
      </div>
      <div fxFlex="100" style="margin-left: -15%;">
        <app-widget-pie [data]="pieChartData"></app-widget-pie>
      </div>
    </mat-card>

    <mat-card fxFlex="60" class="setFocus">

      <div fxFlex="100" class="table-container">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="health_score">
            <th mat-header-cell *matHeaderCellDef> Health Score <i style="padding-left: 2px; cursor: pointer;"
                class="fa fa-sort sort-icon" (click)="sortHandler('health_score', 'area')"></i></th>
            <td mat-cell *matCellDef="let element"> {{element.health_score}} </td>
          </ng-container>

          <ng-container matColumnDef="area_name">
            <th mat-header-cell *matHeaderCellDef> Area Name <i style="padding-left: 2px; cursor: pointer;"
                class="fa fa-sort sort-icon" (click)="sortHandler('area_name', 'area')"></i></th>
            <td mat-cell *matCellDef="let element;">

              <button id="area-{{element.area_id}}" class="button table-cell" (click)="getEquipmentData(element)">
                {{element.area_name}}</button>

            </td>
          </ng-container>

          <ng-container matColumnDef="rating_breakup">
            <th mat-header-cell *matHeaderCellDef class="rating-column"> Area Asset Rating Breakup </th>
            <td mat-cell *matCellDef="let element">
              <app-widget-stacked-bar [data]="formatStackData(element.rating_breakup)"
                [total_count]="element.total_assets">
              </app-widget-stacked-bar>
            </td>
          </ng-container>

          <ng-container matColumnDef="no_assets">
            <th mat-header-cell *matHeaderCellDef> Total Assets Being Monitored <i
                style="padding-left: 2px; cursor: pointer;" class="fa fa-sort sort-icon"
                (click)="sortHandler('no_assets', 'area')"></i>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.no_assets}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>
    </mat-card>
  </mat-card>
</div>
<br />
<mat-divider></mat-divider>

<div class="setFocus">
  <section class="headerSection">
    <div class="example-label">Equipment List of<span style="font-weight: bold;"> {{selectedArea.area_name}}</span>
    </div>
    <div class="example-button-row">
    </div>
  </section>
  <div fxLayout="row" fxLayoutAlign="space between center" fxLayoutGap="20px">
    <div fxFlex="100" class="table-container">

      <table mat-table [dataSource]="dataSourceEq">

        <ng-container matColumnDef="equipment_id">
          <th mat-header-cell *matHeaderCellDef> Equipment Id <i style="padding-left: 2px; cursor: pointer;"
              class="fa fa-sort sort-icon" (click)="sortHandler('equipment_id', 'equipment')"></i>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.equipment_id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Equipment Name <i style="padding-left: 2px; cursor: pointer;"
              class="fa fa-sort sort-icon" (click)="sortHandler('name','equipment')"></i></th>
          <td mat-cell *matCellDef="let element; let i = index">
            <a id="eqp-{{element.equipment_id}}" class="button table-cell" href="/area-view/{{element.equipment_id}}"
              (click)="setEqpBtn(element)">
              {{element.name}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element">{{element.description}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsEq"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsEq;"></tr>
      </table>

    </div>
  </div>
</div>

<br />
<mat-divider></mat-divider>
<br />